body {
    height: 100%;
    font-family: 'Athiti', sans-serif;
    margin: 0;
    padding: 0;
    background-color: var(--darkmode-background-color);
    color: var(--darkmode-text-color-icons);
    font-family: ;

}


:root {
    /***Darkmode ***/
    --darkmode-background-color: #161b22;
    --darkmode-text-color-icons: #f0f6fc;
    --darkmode-color-buttons-links: #28a745;
    --darkmode-hyper-links: #0366d6;
    --darkmode-headings:#71b7ff;
    --darkmode-secondary-buttons: #6f42c1;
    --border-raduis: .2rem;

    /***Lightmode **/
    --lightmode-background-color: #ffff;
    --lightmode-text-color-icons: #24292e;
    --lightmode-color-buttons-links: #28a745;
    --lightmode-hyper-links: #0366d6;
    --lightmode-secondary-buttons: #6f42c1;

}




form {
    display: flex;
    padding: 1em;


}



header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
    color: var(--darkmode-text-color-icons);
    height: 70vh;
    


}


body:has(#light-mode:checked) header {
    color: var(--lightmode-text-color-icons);
}


body:has(#light-mode:checked) {
    background-color: var(--lightmode-background-color);
}
/* 
input {
    width: 2em;
    height: 2em;
} */



input[type=checkbox]{
    height: 0;
    width: 0;
    visibility: hidden;
  }
  
  label {
    cursor: pointer;
    text-indent: -9999px;
    width: 4em;
    height: 30px;
    background: grey;
    display: block;
    border-radius: 100px;
    position: relative;
  }
  
  label:after {
    content: '';
    position: absolute;
    top: 1px;
    left: 1px;
    width: 1.5em;
    height: 1.7em;
    background: #fff;
    border-radius: 90px;
    transition: 0.3s;
  }
  
  input:checked + label {
    background: var(--darkmode-background-color);
  }
  
  input:checked + label:after {
    left: calc(100% - 5px);
    transform: translateX(-100%);
    transition: 2s;
  }



h1 {
  
    font-size: 2rem;
    background: linear-gradient(to right, yellow 0%, orange, green 100%);
    -webkit-background-clip: text;
    white-space: nowrap; 
    -webkit-text-fill-color: transparent;
    animation: animated_text 2s ease-in-out infinite;
    -moz-animation: animated_text 2s ease-in-out infinite;
    -webkit-animation: animated_text 2s ease-in-out infinite;
}



@keyframes typing {
    from { width: 0; }
    to { width: 100%; }
  }



@keyframes animated_text {
    0% {
        background-position: 0px 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0px 50%;
    }
}


article:first-of-type {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


/** Profile**/
header img:nth-of-type(1) {
    width: 20em;
    border-radius: 50%;
    border: 2px solid white;


}


/**Name and profile*/
div:nth-of-type(2) {
    display: flex;
    flex-direction: column-reverse;
    text-align: center;
    line-height: 1.4rem;
 


}

/***Arrow**/
.arrow-down {
    display: grid;
    gap: 1em;
    justify-content: center;
    width: 0;
    height: 3em;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-top: 10px solid white;
    animation: bounce 2s infinite;
}

@keyframes bounce {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(10px);
    }

    100% {
        transform: translateY(0);
    }
}


/************PROJECTS ********************/


nav ul {
    display: flex;
    place-content: center;
    justify-content: center;
    align-items: center;
    list-style: none;
    gap: 2em;
    font-size: 2rem;
 
}

nav ul li a {
    text-decoration: none;
    color: white
    
}



nav ul li a:hover {
    color: var(--darkmode-color-buttons-links)
}

nav ul li a:active {
    text-decoration: underline;
}

main article:nth-of-type(1) ul {
    list-style: none;
    display: grid;
    grid-template-columns: 1fr;
    gap: 2em;
}



main article:nth-of-type(1) li {
    border: 1px solid white;
    border-radius:2em;
    font-size: 1.5rem;
    padding: 1em;
    box-shadow: 0px 2px 2px white;
  
}
/* 
main article:nth-of-type(1) li:hover {
    transform: scale(1.1);
    transition: 2s;
} */


main article:nth-of-type(1) li h3 {
    color:var(--darkmode-headings);
    font-size: 2rem;
}

main article:nth-of-type(1) li h3 p {
    font-size: 10rem;
}




.tags p:nth-of-type(1) a {
    display: inline-block;
  padding: 10px 20px;
  background-color: var(--darkmode-color-buttons-links);
  color: white;
  text-decoration: none;
  border-radius: 5px;
  font-weight: bold;
}

.tags p:nth-of-type(1) a:hover {
    background-color: green;
    transform: scale(1.1);
    transition: 1s;

}




@media (min-width:44em) {

    header {
        display: flex;
        justify-content: center;
        align-items: center;
        height:90vh;
        bottom: 2em;
      
    }

    h1  {
        font-size: 2.5rem;
    }
    h2{
        font-size: 3rem;
    }


    div:nth-of-type(1) {
        display: flex;
        flex-direction: column-reverse;

    }

    div:nth-of-type(2) {
        width: 20em;
        height: 7em;
      
     
    }




    .arrow-down {
        border-left: 20px solid transparent;
        border-right: 20px solid transparent;
        border-top: 25px solid rgb(247, 235, 235);
    }


    main article:nth-of-type(1) ul {
        grid-template-columns: 1fr  1fr;
        padding: 10em;
        margin-bottom: 10em;
    }
    

   

}